@keyframes countdown {
    from {
        background: url(./images/countdown.jpg) 0 0;
    }

    to {
        background: url(./images/countdown.jpg) -360px 0;
    }
}

@keyframes heart {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.2);
    }

    100% {
        transform: scale(1);
    }
}

@keyframes yin-yang {
    0% {
        transform: translate(0px) rotate(0deg);
    }

    50% {
        transform: translate(376.8px) rotate(360deg);
    }

    100% {
        transform: translate(0px) rotate(0deg);
    }
}

@keyframes border1 {
    0% {
        background-color: #fcfc55;
        border: 1px solid red;
        box-shadow: 0 0 20px red inset;
        color: black;
        border-radius: 20px;
        transform: scaleY(1);
    }

    50% {
        background-color: #fc6e55;
        border: 5px solid #fff12c;
        box-shadow: 0 0 40px #fff12c;
        color: white;
        border-radius: 40px;
        transform: scaleY(-1.5);
    }

    100% {
        background-color: #fcfc55;
        border: 1px solid red;
        box-shadow: 0 0 20px red inset;
        color: black;
        border-radius: 20px;
        transform: scaleY(1);
    }
}

@keyframes border2 {
    0% {
        transform: scaleY(1);
    }

    50% {
        transform: scaleY(-1.5);
    }

    100% {
        transform: scaleY(1);
    }
}

.wrapper {
    display: flex;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 30px;
    margin-left: 20px;
}

.countdown {
    width: 120px;
    height: 120px;
    margin-right: 30px;
    animation: countdown 3s steps(3) infinite;
}

.heart {
    width: 120px;
    height: 120px;
    margin-right: 30px;
}

.wrapper:hover .heart {
    animation: heart 2s infinite;
}

.yin-yang {
    height: 120px;
}

.yin-yang__img {
    border-radius: 50%;
}

.wrapper:hover .yin-yang__img {
    animation: yin-yang 3s infinite;
}

.border {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 220px;
    height: 80px;
    margin-left: 420px;
    background-color: #fcfc55;
    border: 1px solid red;
    border-radius: 20px;
    box-shadow: 0 0 20px red inset;
}

.border__text {
    font-size: 30px;
    margin-top: 0;
    margin-bottom: 0;
}

.wrapper:hover .border {
    animation: border1 2s infinite,
    border2 2s infinite;    
}